# Ignore everything at repo root and below
/*

# Keep the .gitignore file itself so it's tracked
!/.gitignore

# Keep the top-level index.html
!/index.html

# Keep the src directory and all its contents
!/src/
!/src/**
!/index.html

## If you also want to keep the `public` folder, uncomment:
## !/public/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
